article pre,
article code {
  font-family: font-mono;
}
article code {
  background-color: #533232;
  color: #f2777a;
  padding: 0 0.3em;
  margin: 0 0.2em;
}
article pre {
  background: #2d0000;
  margin: 15px 0;
  padding: 15px 20px;
  overflow: auto;
  color: #fdd;
  line-height: 22.400000000000002px;
}
article pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
article .highlight {
  background: #2d0000;
  margin: 15px 0;
  padding: 15px 20px;
  overflow: auto;
  color: #fdd;
  line-height: 22.400000000000002px;
}
article .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
article .highlight table {
  margin: 0;
  width: auto;
}
article .highlight td {
  border: none;
  padding: 0;
}
article .highlight figcaption {
  zoom: 1;
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
article .highlight figcaption:before,
article .highlight figcaption:after {
  content: "";
  display: table;
}
article .highlight figcaption:after {
  clear: both;
}
article .highlight figcaption a {
  float: right;
}
article .highlight .gutter pre {
  color: #666;
  font-size: 0.85em;
  text-align: right;
  padding-right: 20px;
}
article .highlight .line {
  height: 22.400000000000002px;
}
article .highlight .line.marked {
  background: #515151;
}
article .gist {
  margin: 0;
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  background: #2d0000;
  padding: 15px 20px 15px 0;
}
article .gist .gist-file {
  border: none;
  font-family: font-mono;
  margin: 0;
}
article .gist .gist-file .gist-data {
  background: none;
  border: none;
}
article .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
article .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
article .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
article .gist .gist-file .gist-meta {
  background: #2d0000;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
article .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
article .gist .gist-file .gist-meta ahover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/* ---------------- STYLE ----------------- */
/* =web font */
@font-face {
  font-family: larabie;
  src: url("fonts/larabie.ttf") format("truetype");
}
@font-face {
  font-family: aftommy;
  src: url("fonts/aftommy.ttf") format("truetype");
}
@font-face {
  font-family: monaco;
  src: url("fonts/monaco.ttf") format("truetype");
}
/* =tools */
/* ==for html5 tags */
article,
aside,
figcaption,
figure,
dialog,
time,
footer,
header,
nav,
section,
main {
  display: block;
}
/* ==reset style */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial;
  font-size: 100%;
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
q:after,
blockquote:before,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==clear chrome style */
input,
textarea,
select,
a,
button {
  outline: none;
}
/* ==clearfix float */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* =initialize */
a,
a:link,
a:visited {
  color: #d8d3d3;
  text-decoration: none;
}
a:hover {
  color: #f4f1f1;
}
body {
  background: #333 url("/css/images/bg.png") repeat;
  font-family: larabie;
  color: #e7e0e0;
}
hr {
  border: 0;
  clear: both;
}
::selection {
  background: #00a09a;
  color: #fff;
}
::-moz-selection {
  background: #00a09a;
  color: #fff;
}
/* =layout */
/* ==header */
header {
  position: fixed;
  z-index: 12000;
  top: 0;
  left: 0;
  width: 100%;
  background: #1f1c1c;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -ms-box-shadow: 0 0 5px #000;
  -o-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
#top {
  position: relative;
  height: 40px;
  width: 80%;
  font-family: aftommy;
}
#top a,
#top a:link,
#top a:visited {
  color: #a03030;
}
#top a:hover {
  color: #1da8a8;
}
#top a h1 {
  display: inline-block;
  line-height: 24px;
  margin-top: 16px;
  font-size: 24px;
}
#top nav {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
#top nav a {
  padding-bottom: 20px;
  line-height: 20px;
  margin: 0 5px;
}
#top nav a #list {
  display: none;
}
#logo {
  position: relative;
  overflow: visible;
  float: left;
  width: 40px;
  height: 40px;
  font-family: 'Times New Roman', Times, serif;
}
#logo .logo-patial {
  position: absolute;
  top: 8px;
  left: 8px;
}
#logo .logo-patial.logo-top {
  -webkit-transform: translate(0px, -8px);
  -moz-transform: translate(0px, -8px);
  -o-transform: translate(0px, -8px);
  -ms-transform: translate(0px, -8px);
  transform: translate(0px, -8px);
}
#logo .logo-patial.logo-left {
  -webkit-transform: rotate(120deg) translate(-1px, -9px);
  -moz-transform: rotate(120deg) translate(-1px, -9px);
  -o-transform: rotate(120deg) translate(-1px, -9px);
  -ms-transform: rotate(120deg) translate(-1px, -9px);
  transform: rotate(120deg) translate(-1px, -9px);
}
#logo .logo-patial.logo-right {
  -webkit-transform: rotate(-120deg) translate(-2px, -8px);
  -moz-transform: rotate(-120deg) translate(-2px, -8px);
  -o-transform: rotate(-120deg) translate(-2px, -8px);
  -ms-transform: rotate(-120deg) translate(-2px, -8px);
  transform: rotate(-120deg) translate(-2px, -8px);
}
#logo .logo-patial:after {
  content: 'Z';
  font-size: 1.9em;
  font-weigth: 300;
  color: #a03030;
}
/* ==body */
main {
  position: relative;
  float: left;
  overflow: hidden;
  z-index: 10000;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 80%;
  padding-bottom: 40px;
  margin-top: 40px;
  background: #392020;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -ms-box-shadow: 0 0 5px #000;
  -o-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -ms-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s;
}
main aside {
  position: absolute;
  top: 40px;
  left: 0;
  width: 300px;
  text-align: left;
}
main aside ul {
  list-style: none;
  padding: 0;
}
main aside ul li {
  padding: 2px 0;
}
main dl {
  margin: 0 0 40px;
  text-align: right;
}
main dl dt {
  line-height: 30px;
  font-size: 30px;
  padding: 70px 5px 5px;
  border-bottom: 2px solid #d8d3d3;
  font-weight: bold;
  color: #d8d3d3;
}
main dl dt h1 {
  font-size: 2rem;
}
main dl dd {
  min-height: 50px;
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d8d3d3;
}
main dl dd:last-child {
  border: 0;
}
main dl dd a time,
main dl dd a label {
  float: left;
  display: inline;
  line-height: 50px;
  font-weight: normal;
}
main dl dd a h4 {
  overflow: hidden;
  padding-right: 40px;
  margin: 0;
  line-height: 50px;
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -ms-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s;
}
main dl dd a h4:hover {
  padding-right: 5px;
}
main dl dd article {
  overflow: hidden;
  text-align: left;
  font-size: 0.9rem;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial;
  line-height: 30px;
  letter-spacing: 1px;
  word-wrap: break-word;
  color: #e7e0e0;
}
main dl dd article.excerpt img {
  max-width: 30%;
}
main dl dd article.excerpt h1,
main dl dd article.excerpt h2,
main dl dd article.excerpt h3,
main dl dd article.excerpt h4,
main dl dd article.excerpt h5,
main dl dd article.excerpt h6 {
  font-size: 1rem;
}
main dl dd article time {
  padding: 0 5px;
  text-align: right;
  color: #d8d3d3;
}
main dl dd article img {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  max-width: 100%;
}
main dl dd article h1 {
  padding: 2rem 0;
  font-size: 2rem;
}
main dl dd article h2 {
  padding: 1.6rem 0;
  font-size: 1.8rem;
}
main dl dd article h3 {
  padding: 1rem 0;
  font-size: 1.6rem;
}
main dl dd article h4 {
  padding: 0.6rem 0;
  font-size: 1.4rem;
}
main dl dd article h5 {
  padding: 0.2rem 0;
  font-size: 1.3rem;
}
main dl dd article h6 {
  font-size: 1.2rem;
}
main dl dd article h1,
main dl dd article h2,
main dl dd article h3,
main dl dd article h4,
main dl dd article h5,
main dl dd article h6 {
  color: #fff;
  clear: both;
}
main dl dd article p {
  padding: 5px;
  margin: 0;
  text-indent: 0px;
}
main dl dd article ol {
  list-style: auto;
  padding-left: 30px;
  padding: 5px;
}
main dl dd article a,
main dl dd article a:link,
main dl dd article a:visited {
  color: #00a09a;
  text-decoration: underline;
}
main dl dd article a:hover {
  color: #f03030;
}
main dl dd article blockquote {
  background: #4d3c3c;
  border-left: 2px solid #00807b;
  margin-left: 0;
  padding-left: 15px;
}
main dl dd .comment {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid #d8d3d3;
}
main #page-nav {
  margin: 0 5px 30px;
  padding: 5px;
  text-align: right;
  font-size: 2rem;
  font-weight: lighter;
}
main #page-nav .page-number {
  margin: 5px;
}
/* =footer */
footer {
  float: left;
  position: relative;
  z-index: 11000;
  left: 0;
  bottom: 40px;
  height: 40px;
  width: 80%;
}
footer #backtop {
  display: none;
  float: left;
  position: fixed;
  z-index: 1001;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 20%;
  line-height: 60px;
  text-align: center;
  font-size: 1.4rem;
  background: #1f1c1c;
}
footer address {
  text-align: right;
  font-family: aftommy;
  font-size: 0.7rem;
}
footer address p {
  line-height: 20px;
  padding: 0 8px;
  margin: 0;
}
footer address p span,
footer address p a {
  padding: 0 5px;
  color: #d8d3d3;
}
footer address p span img,
footer address p a img {
  height: 16px;
}
footer address p a:link,
footer address p a:visited {
  color: #d8d3d3;
}
/* =responsive */
@media all and (min-width: 1025px) and (max-width: 1280px) {
  header #top,
  main,
  footer {
    width: 85%;
  }
  main dl dd {
    margin-left: 180px;
  }
  main aside {
    width: 180px;
  }
  footer #backtop {
    width: 15%;
  }
}
@media all and (min-width: 641px) and (max-width: 1024px) {
  header #top,
  main,
  footer {
    width: 90%;
  }
  main dl dd {
    margin-left: 80px;
  }
  main aside {
    width: 80px;
  }
  footer #backtop {
    width: 10%;
  }
}
@media all and (min-width: 321px) and (max-width: 640px) {
  header #top,
  main,
  footer {
    width: 95%;
  }
  main dl dd {
    margin-left: 10px;
  }
  main aside {
    width: 10px;
  }
  footer #backtop {
    width: 5%;
  }
  header {
    position: absolute;
  }
}
@media all and (max-width: 320px) {
  header #top,
  main,
  footer {
    width: 100%;
  }
  main dl dd {
    margin-left: 0;
  }
  main aside {
    width: 0;
  }
  footer #backtop {
    width: 0%;
  }
  header {
    position: absolute;
  }
}
@media all and (min-width: 641px) and (max-width: 900px) {
  header #top nav a {
    margin: 0;
    font-size: 0.7rem;
  }
  main dl dd a h4 {
    font-weight: bold;
  }
}
@media all and (max-width: 640px) {
  header #top {
    min-width: 240px;
    width: 100%;
    margin: 10px 0;
  }
  header #top a h1 {
    margin-top: 10px;
  }
  header #top nav {
    overflow: hidden;
    position: static;
    height: 0;
    width: 100%;
    margin: 0;
    background: #1f1c1c;
  }
  header #top nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
  }
  header #top nav a:hover {
    background: #808080;
  }
  header #top #list {
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    height: 40px;
    width: 40px;
    background: url("/css/images/list.png") no-repeat center center;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  header #top #list:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  main {
    padding-bottom: 60px;
  }
  main dl {
    margin: 40px 0 60px;
  }
  main dl dd {
    min-width: 240px;
  }
  main dl dd a h4 {
    font-size: 1rem;
  }
  main dl dd a time {
    display: none;
  }
  main dl dd article {
    font-size: 0.7rem;
  }
  main dl dd article time {
    padding: 10px;
  }
  main dl dd article.excerpt img {
    display: block;
    float: none;
    max-width: 260px;
    width: 260px;
    margin: 0 auto;
  }
  footer {
    bottom: 60px;
    height: 60px;
    font-size: 0.7rem;
  }
  footer #backtop {
    min-width: 30px;
  }
}
