/* -------------- VARIABLE ---------------- */
/* =index */
$indexHeader = 12000
$indexFooter = 11000
$indexBody = 10000
$indexBacktop = 1001
/* animation */
$animateTime = 0.3s
$opacity = 0.8
/* =font */
$fontBody = larabie
$fontTitle = aftommy
$fontLogo = nandia
$fontCode = monaco
$fontBackup = -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial
/* =color */
/* ==background */
$colorBlack = black
$colorWhite = white
$colorGray = gray
$colorBg = #333333
$colorHeader = #1F1C1C
$colorBody = #392020
$colorCode = #220000
/* ==font */
$colorText = #D8D3D3
$colorTextHover = #F4F1F1
$colorTitleLink = #A03030
$colorTitleLinkHover = #1DA8A8
$colorLink = #00A09A
$colorLinkHover = #F03030
$colorArticle = #E7E0E0
/* =img */
$imgBase = "/img/"
$imgBg = $imgBase + "bg.png"
$imgList = $imgBase + "list.png"
/* =size */
$sizeContentWidthPer = 80% 85% 90% 95% 100%
$sizeLeftWidth = 300px 180px 80px 10px 0
$sizeImgMaxWidth = 100% 260px 30%
$sizeMinWidth = 240px
$sizeHeaderHeight = 40px
$sizeTitleHeight = 24px
$sizeNavHeight = 20px
$sizeCategoryHeight = 30px
$sizeArticleLineHeight = 30px
$sizeCodeLineHeight = 20px
$sizeFooterHeight = 40px 60px
$sizeBarHeight = 50px
$sizeCodeMaxHeight = 500px
$sizeArticleTop = 70px
$sizeSectionTop = 40px
$sizeTextRight = 20px
$sizeTextTop = 10px
$sizeBarIndent = 40px
$sizeArticleIndent = 0px
$sizeQuoteIndent = 15px
$sizePaginationBottom = 30px

$sizeMargin = 5px
$sizePhoneMargin = 10px
$sizeBorder = 2px
$sizeShadow = 5px
$sizeLetterSpace = 1px
$sizeLinePadding = 8px
/* =font size */
$remBar = 1.5rem 1rem
$remArticle = 0.9rem
$remTitle = 1.1rem
$remIcon = 1.4rem
$remSmall = 0.7rem