<footer id="footer">
  <a href="#" id="backtop">&#94;</a>
  <address>
    <p>
      <span>&copy; <%= date(new Date(), 'YYYY') %></span>
      <span>Designed by <%= config.author || config.title %></span>
      <span><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></span>
    </p>
    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
    </p>
  </address>
</footer>